<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <%= contents %>
    </div>
    <div>
        <p>Name：<%= user.name %></p>
        <p>Birthday：<%= user.birthday %></p>
        <p>Age：<%= user.age %></p>
        <p>Sex：<%= user.sex %></p>
        <p>Activate：<%= user.activate %></p>
    </div>
</body>

</html>